{% extends 'base.html' %}

{% block content %}
<div class="profilesContainer">
    <h1>User Profiles</h1>

    <div class="cardsContainer">
        {% for profile in profiles %}

        <a href="{% url 'user-profile-page' profile.id %}">
        <div class="profileCard">
            <img src="{{ profile.profile_image.url }}" alt="">
            <p>{{ profile.name }}</p>
            <p>{{ profile.short_intro|slice:":60"}}</p>
            <p>{{ profile.bio|slice:":150" }}</p>
            <div class="skillsContainer">
                {% for skill in profile.skill_set.all %}
                <span class="skillPill">
                    <small>{{ skill }}</small>
                </span>
            {% endfor %}
            </div>

        </div>
        </a>

        {% endfor %}
    </div>
</div>
{% endblock %}