{% load static %}
{% block content %}
<div class="navBar">
    <div class="leftNavBar">
        <a href="/">
            <img src="{% static 'images/logo.svg' %}" alt="Logo">
        </a>
    </div>
    <div class="rightNavBar">
        <a href="/">Developers</a>
        <a href="{% url 'projects' %}">Projects</a>
        <a href="/">Inbox</a>
        <a href="/">My Account</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'add-project' %}">Create Project</a>
            <a href="{% url 'logout-page' %}">Logout</a>
        {% else %}
            <a href="{% url 'login-page' %}">Login/Sign Up</a>
        {% endif %}
    </div>

</div>

{% endblock %}