{% load static %}
{% block content %}
<div class="navBar">
    <div class="leftNavBar">
        <a href="/">
            <img src="{% static 'images/logo.svg' %}" alt="Logo">
        </a>
    </div>
    <div class="rightNavBar">
        <a href="/">Developers</a>
        <a href="/">Inbox</a>
        <a href="/">My Account</a>
        <a href="{% url 'projects' %}">Projects</a>
        <a href="{% url 'add-project' %}">Add Project</a>
        <a href="{% url 'login' %}">Login/Sign Up</a>
    </div>

</div>

{% endblock %}